registry=https://pkgs.dev.azure.com/cnhi/_packaging/Accelerators-PSCA/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/cnhi/_packaging/Accelerators-PSCA/npm/registry/:username=cnhi
//pkgs.dev.azure.com/cnhi/_packaging/Accelerators-PSCA/npm/registry/:_password=bzQyMzc0c2FlZHFhcXR2cmFobWJpc21mNDVyNDd3emNtcHNjdndzZHdmaWNkbXdhYnA3cQ==
//pkgs.dev.azure.com/cnhi/_packaging/Accelerators-PSCA/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/cnhi/_packaging/Accelerators-PSCA/npm/:username=cnhi
//pkgs.dev.azure.com/cnhi/_packaging/Accelerators-PSCA/npm/:_password=bzQyMzc0c2FlZHFhcXR2cmFobWJpc21mNDVyNDd3emNtcHNjdndzZHdmaWNkbXdhYnA3cQ==
//pkgs.dev.azure.com/cnhi/_packaging/Accelerators-PSCA/npm/:email=npm requires email to be set but doesn't use the value
; end auth token